<!DOCTYPE html>
<html lang = "eng">
<head>
    <meta charset="UFT-8" />
    <title>{{campaignName}}</title>
    <link rel="stylesheet" href="src/main/resources/templates/style.css">
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin: auto;
            font-size: 3em;
            text-align: center;
            grid-template-columns: repeat(3, 33%);
            display: grid;
            grid-auto-flow: row;
            grid-row-gap: 30px;
        }

        h1 {
            color: blue;
            text-align: center;
        }
    </style>
</head>
<body>
<main>
<!--    <h1>Initiative</h1>-->
    <ul>
    {{#combatantList}}
        <li><strong>{{id}}.</strong> {{name}}</li>
    {{/combatantList}}
    </ul>
</main>
</body>
</html>